name: Pull Request

on:
  pull_request:
    types: [opened, ready_for_review, synchronize, reopened]
    branches:
      - "main"
  workflow_dispatch:

env:
  NODE_OPTIONS: --max-old-space-size=16384
  TURBO_SCM_BASE: origin/main
  TURBO_TEAM: ${{ secrets.VERCEL_ORG_ID }}
  TURBO_TOKEN: ${{ secrets.VERCEL_TOKEN }}

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-node-environment
      - name: Check lint rules
        run: pnpm exec turbo run check:lint --affected -- --diagnostic-level=error
      - name: Check formatting
        run: pnpm exec turbo run check:format --affected
      - name: Check types
        run: pnpm exec turbo run check:types

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-environment
      - name: Run Unit Tests
        run: pnpm exec turbo run test:unit
